<div class="main-content" style="position:initial;">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-2">

                    <div class="product-box">

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>

                        <div class="price">{{ tempProduct.price | currency:'INR' }}</div>
                        <a type="button" (click)="showProductDetails(tempProduct)" class="primary-btn">Show Details</a>
                    </div>

                </div>

                <!-- if products empty then display a message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal" *ngIf="showProductDetail">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="showProductDetail = false">&times;</span>
        <app-product-details [selectedProduct]="selectedProduct"></app-product-details>
    </div>
</div>